body{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(49, 48, 48, 0.593);
}
.container{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 10px;
  border: 2px solid black;
}
.btn_nums{
  border-radius: 50px;
  height: 70px;
  width: 70px;
  background-color: rgb(217, 217, 7);
  border: none;
  margin: 2px;
  color: white;
  font-weight: bold;
}
.calculator_nums{
   display: inline-block;
   flex-wrap: wrap;
  width: 245px;
}
.operation_container{
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.btn_op{
  border-radius: 50px;
  height: 55px;
  width: 55px;
}
.screen{
  width: 320px;
  height: 80px;
  margin-top: 25px;
  border-radius: 10px;
  border : 2px solid black;
}

.display{
  width: 312px;
  height: 75px;
  margin: 0;
  border-radius: 10px;
}

@media (max-width: 332px){
.display , .screen ,.container{
  width: 70vw;
}
.btn_nums{
  height: 45px;
  width: 45px;
}
}
@media(max-height:406px){
  .container{
    height: 60vh;
  }
  .btn_nums{
    height: 30px;
    width: 30px;
  }
  .operation_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
}
